.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.banner {
    width: 100%;
}

.panel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    margin-right: auto;
    padding-left: 25px;
}

.button {
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 20px;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

.Logo {
    max-width: 480px;
    width: 100%;
    margin: -300px 5px 10px 650px;
}